.footer {
    background: var(--blue);
    color: var(--white);
    /* margin-top: 3.2rem */
}

.footer h1{
    font-size: 2rem;
    font-weight: 750;
    padding-bottom: 2rem;
}

.footer-text{
    font-weight: 300;
}

.footer-subtext{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 20px;
    max-width: 192px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 22px;
}

.footer-social-links{
    display: flex;
    justify-content: space-between;
    width: 70px;
    font-size: 1.5rem;
    align-items: flex-end;
    /* flex-direction: column; */
}

.links {
    list-style: none;
    font-style: normal;
}

.footer-header {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.links-nav {
    padding-top: 7px;
    font-size: 1.2rem;
    font-weight: 300;
}

.footer-links:hover{
    color: var(--green);
}

.footer-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.mail {
    font-weight: 100;
    font-size: 1.4rem;
    padding-top: 5px;
    padding-bottom: 5px;
}


.footer-hr{
    display: block;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.copyright {
    line-height: 20px;
    font-size: 0.9rem;
    font-weight: 500;
}

.show-desktop{
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}
/* Media Queries */

@media (min-width: 768px) {
    .footer-nav {
    padding: 0px;
}
.footer-bottom {
    padding: 61px 0px 0px;
}
    .desktop-footer{
        max-width: 144rem;
        margin: 0 auto;
    }
    .mobile-footer{
        display: none;
    }
    
    .footer{
        padding: 115px 111px 47px 87px;
    }

    .footer h1{
        font-size: 2.5rem;
    }

    .footer-row{
        display: flex;
        justify-content: space-between;
    }

    .hidden {
        display: block;
    }

    .footer-text{
        font-size: 2rem;
        
    }

    .privacy-terms{
        display: flex;
        justify-content: space-between;
    }

    .terms{
        font-size: 1rem;
    }

    .copyright{
        text-align: left;
    }
}

@media (min-width: 1900px) {
    p, li{
        font-size: 2.5rem;
    }
}