.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 95px;
  padding: 0 20px 0 86px; 
}
.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar ul li a{
  color: #000;
font-size: 18px;
font-weight: 750;
  display: inline-block;
  position: relative;
}
.navbar ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 20px;
  left: 0;
  background-color: #00A551;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.navbar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-contact{
  margin-left: 80px;
    color: #FFF;
    font-size: 1.6rem;
    background-color: var(--green);
    border-radius: 10px;
    width: 200px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar ul li a.active {
  border-bottom: 2.5px solid var(--green);
  /* padding-bottom: 4px; */
}