.order {
  background-color: rgba(45, 49, 147, 0.85);
  background: url(../../assets/home/medicationBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.order{
  display: grid;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 7rem 5rem;
}
.order-text h1 {
  text-align: center;
  padding: 0 0 2.3rem 0;
}
.order-text p {
 
    padding-bottom: 5.7rem;
    text-align: center;

}
.order button:hover{
  opacity: 0.8;
}
.order button{
  background-color: #ffffff99;
  color: #00a551;
 width: 243px;
 height: 93px;
  border: none;
  border-radius: 4.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.4rem;
  font-weight: 750;
}
.ordercontainer img{
  width:100%;
  
}


@media screen and (min-width: 786px){
.ordercontainer{
  display: flex;
  flex-direction: row;
}
.order{
  width: 50%;
  display: grid;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8.6rem;
}
.order-text h1 {
  text-align:start;
}
.order-text p {
   max-width: 337px;
  font-size: 2.4rem;
    text-align: start;

}
.ordercontainer img{
  width:50%;
}
}