.category-wrapper{
    width: 100%;
    height: 100%;
}
.category-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 144rem;
    margin: 0 auto;
    padding: 100px 15px;
}
.category-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    margin-bottom: 5.2rem;
}
.category-header h2{
    color: #2E318F;
font-size: 4.8rem;
font-weight: 700;
white-space: nowrap;
}
.category-cards{
    justify-content: center !important;
    width: 100%;
    height: 550px;
    gap: 14px;
}
.prescription-btn{
  display: inline-flex;
  width: 188px;
  height: 89px;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  background: #4959D5;
  color: #fff; 
  cursor: pointer; 
  font-size: 14px; 
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
transition: ease-in-out;
}
.prescription-btn:hover {
  opacity: 0.8;
}
.prescription-card{
    background-image: url(../../assets/home/prescribtion.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 43%;
    height: 100%;
    max-width: 100%;
    border-radius: 15px;   
    padding-left: 37px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.prescription-context h3{
    color: #2E318F;
font-size: 4.8rem;
font-weight: 700;
margin-bottom: 17px;
}
.prescription-context p{
font-size: 18px;
max-width: 234px;
}
.right-cards{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 11px;
    flex-direction: column;
}
.double-cards{
    gap: 11px;
    justify-content: flex-start !important;
    width: 100%;
    height: 50%;
}
.double-context{
    min-width: 174px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.double-context h3{
color: #2E318F;
font-size: 3.6rem;
font-weight: 700;
}
.double-btn{
  display: inline-flex;
  width: 154px;
    height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 35px; 
  color: #fff; 
  cursor: pointer; 
  font-size: 14px; 
transition: ease-in-out;
}
.double-btn:hover {
  opacity: 0.8;
}
.double-card{
    border-radius: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
} 
.otc-card{
     background-image: url(../../assets/home/pcm.png);
     width: 100%;
}
.otc-btn{
    background: #EE3630;
}
.cold-btn{
    background: #F2B11A;
}
.cold-card{
     background-image: url(../../assets/home/tuxil.png);
     width: 100%;
     background-position: 100%;

}
.supplement-btn{
  display: flex;
  width: 188px;
  height: 89px;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
background: #00A551;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff; 
  cursor: pointer; 
  font-size: 14px; 
transition: ease-in-out;
}
.supplement-btn:hover {
  opacity: 0.8;
}
.supplement-card{
    background-image: url(../../assets/home/wellman.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;
    max-width: 100%;
    border-radius: 15px;   
    padding-left: 39px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.supplement-context h3{
    color: #2E318F;
font-size: 4.8rem;
font-weight: 700;
}

/* MEDIA QUERY */
@media screen and (max-width: 1200px){
    .cold-card {
    background-size: cover;
}
}
@media screen and (max-width: 1024px){
    .category-header h2 {
    font-size: 4rem;
}
    .category-cards {
    height: 488px;
}
.double-context h3 {
    font-size: 3rem;
}
.prescription-context h3 {
    font-size: 4rem;
}
.supplement-context h3 {
    font-size: 4rem;
}
.prescription-card {
    padding-left: 16px;
}
.supplement-card {
    padding-left: 16px;
}
.prescription-btn {
    width: 158px;
    height: 70px;
}
.supplement-btn {
    width: 154px;
    height: 60px;
}
.double-btn {
    width: 124px;
    height: 40px;
}
}
@media screen and (max-width: 786px){
        .category-container {
    padding: 50px 15px 55px;
}
    .category-cards {
    flex-direction: column;
    height: 100%;
    gap: 50px;
}
.prescription-card {
    width: 100%;
    background-position: center;
    background-size: inherit;
    height: 355px;
}
.right-cards {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.prescription-context h3{
font-size: 3.2rem;
margin-bottom: 15px;
max-width: 234px;

}
.prescription-context p{
font-size: 14px;
}
.prescription-btn{
    width: 174px;
height: 48.148px;
}

.supplement-card {
    width: 100%;
    background-position: center;
    background-size: inherit;
    height: 355px;
}

.supplement-context h3{
font-size: 3.2rem;
margin-bottom: 15px;
max-width: 234px;

}
.supplement-context p{
font-size: 14px;
}
.supplement-btn{
    width: 174px;
height: 48.148px;
}
.double-cards {
    height: 296px;
}
.category-header h2 {
    font-size: 3.6rem;
    border-bottom: 5px solid #00A551;
text-align: center;
padding-bottom: 10px;
width: 330px;
}
}
@media screen and (max-width: 546px){
.double-cards {
    height: 100%;
    gap: 50px;
    flex-direction: column;
}
.double-card {
    height: 296px;
    background-position: 100%;
    background-size: auto;
    padding-right: 25px
}

}