.recommendation-wrapper {
  padding: 20rem 0 3rem;
}
.recommendation-container{
  display: flex;
  align-items: center;
  gap:1%;
}
.female-health{
  position: relative;
  width: 30%;
height: 420px;
  border-radius: 15px;
  padding-left: 18px;
background: #D2E2F8;
display: flex;
z-index: 1;
justify-content: space-between;
}
.male-health{
  padding-left: 50px;
  position: relative;
 width: 38%;
height: 508px;
border-radius: 15px;
background: #F3F4F6;
display: flex;
z-index: 1;
justify-content: space-between;
}
.sex-health{
  position: relative;
 width: 30%;
height: 420px;
border-radius: 15px;
background: #E1A1A1;
display: flex;
justify-content: space-between;
  padding-left: 30px;
  z-index: 1;
}
.recommendation-wrapper h1{
  text-align: center;
  color: #2E318F;
font-size: 4.8rem;
font-weight: 700;
margin-bottom: 50px;
}
.recommendation-container h2{
  color: #2E318F;
font-size: 4.8rem;
font-weight: 750;
max-width: 164px;
z-index: 5;

}
.female-health img{
  width: 251px;
height: 346px;
align-self: flex-end;
object-fit: cover;
right: -30px !important;
z-index: 1;
}
.male-health img{
  width: 400px;
height: 350px;
align-self: flex-end;
object-fit: cover;
z-index: 1;
right: -20px !important;
}
.sex-health img{
  width: 382px;
height: 282px;
object-fit: cover;
align-self: flex-end;
z-index: 1;
}
.recommendation-container img{
  position: absolute;
  bottom: 0;
  right: 0;
  
}
.flex-around{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.female-hlt-btn{
  z-index: 2;
}
.male-hlt-btn{
  z-index: 2;
}
.sex-hlt-btn{
  z-index: 2;
}
.health-btn{
  display: flex;
  width: 174px;
  height: 66px;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
background: #fff;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #00A551; 
  cursor: pointer; 
  font-size: 14px; 
transition: ease-in-out;
font-size: 24px;
font-weight: 750;
}
.health-btn:hover {
  opacity: 0.7;
}


.start-chat {
  display: grid;
  text-align: center;
  padding: 5rem 2.2rem 3rem 2.2rem;
  gap: 1.5rem;
}
.start-chat-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.pharm-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.brands {
  background: #eff0f4;
  padding: 4rem 2rem;
}
.brands h1 {
  text-align: center;
  color: var(--blue);
  padding-bottom: 4rem;
}
.dektop-brands{
  display: none;
}
.mobile-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-seg1 {
  display: flex;
  justify-content: space-around;  
}
.brand-seg2 {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}
.dgf-img {
  max-width: 180px;
}
@media screen and (min-width: 600px){
 .mobile-brands{
    display: none;
  }
  .dektop-brands{
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 786px) {
  .start-chat-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 78px 71px;
  }
  .start-chat-btn {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .start-chat {
    display: grid;
    text-align: left;
    padding: 4rem 0 4rem 0;
    max-width: 612px;
  }
  .start-chat p{
    color: #231F20;
font-size: 24px;
  }

  .pharm-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .mobile-brands{
    display: none;
  }
  .dektop-brands{
    display: flex;
    justify-content: space-around;
  }
  
}

/* MEDIA QUERY */
@media screen and (max-width: 1200px) {
  .recommendation-wrapper {
    padding: 14rem 0 3rem;
}
 .male-health {
    padding-left: 20px;
  }
  .recommendation-container h2 {
    font-size: 4rem;
}
.female-health img{
  width: 201px;
height: 316px;
}
.male-health img{
  width: 350px;
height: 320px;

}
.sex-health img{
  width: 332px;
height: 252px;
}
}

@media screen and (max-width: 1024px) {
  .recommendation-wrapper {
    padding: 10rem 0 3rem;
}
  .recommendation-wrapper h1 {
    font-size: 3.6rem;
}
.recommendation-container h2 {
    font-size: 3.6rem;
}
.male-health img {
    right: 0px !important;
}
.male-health {
    padding-left: 30px;
    height: 458px;
}
.female-health {
    width: 30%;
    height: 380px;
}
.sex-health {
    height: 380px;
    padding-left: 20px;
}
.sex-health img {
    width: 262px;
    height: 242px;
}
.male-health img {
    width: 225px;
    height: 288px;
}
.female-health img {
    width: 201px;
    height: 257px;
}
.health-btn {
    width: 160px;
    height: 59px;
}
}
@media screen and (max-width: 786px) {
   .recommendation-wrapper {
    padding: 10rem 2rem 3rem;
    overflow-x: hidden;
}
  .recommendation-container h2{
        max-width: 246px;
  }
  .recommendation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.female-health {
    width: 100%;
    height: 369px;
}
.female-health img {
    width: 221px;
    height: 291px;
}
.male-health {
    width: 100%;
    height: 370px;
}
.male-health img {
    width: 275px;
    height: 245px;
}
.sex-health {
    width: 100%;
    height: 370px;
}
.sex-health img {
    width: 300px;
    height: 249px;
}

}



