.hero{
    background-image: url(../../assets/home/heroImg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 28.9rem 2.2rem;
}

.hero-top-text {
    color: #00A551;
    font-size: 1.4rem;
    font-weight: 750;
    padding: 0.6rem 0 14.7rem 0;
}

.hero h1{
    color: #FFF;
    padding-bottom: 3rem;
    line-height: 36px;
}

.hero-rich-text{
    color: var(--green);
}

.hero-bottom-text{
    color: #FFF;
}

.overview-container{
    padding: 5rem 2.2rem;
}

.overview-header {
    color: #231F20;
    line-height: 32px;
    padding-bottom: 3rem;
}

.overview-text {
    color: rgba(35, 31, 32, 0.90);
    font-weight: 400;
    letter-spacing: 0.16px;
    padding-bottom: 3rem;
}

.overview-btn {
    color: #FFF;
    font-weight: 750;
    line-height: 25px;
    letter-spacing: 0.32px;
    background: var(--green);
}