.service-hero{
    background-image: url(../../assets/services/serviceHero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.3rem 2.2rem 1.8rem 2.2rem;
}

.service-hero h1{
    text-align: center;
    color: var(--white);
    padding-bottom: 3rem;
    font-size: 3.6rem;
}

.service-hero-top-text {
    color: var(--blue);
    font-size: 1.4rem;
    font-weight: 750;
    padding-bottom: 11.7rem;
}

.service-img{
    width: 100%;
    min-width: 289px;
}

/* MEDIA QUERIES */

@media (min-width: 786px) {
    .service-hero{
        padding: 1.7rem 2.2rem 1.8rem 8.6rem;
    height: calc(100vh - 95px);
    }
    .service-hero-container{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-img {
        max-width: 1036px;
    }

    .service-hero h1{
        font-size: 4.8rem;
        white-space: nowrap;
    }

    .service-hero-top-text{
        font-size: 2rem;
    }
}