.hero-banner{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url(../../assets/about/about-hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 100%;
   height: calc(100vh - 72px);
  
}
.working-hour p{
     padding-left:89px;
   padding-top:36px ;
color: #00A551;
font-size: 2rem;
font-weight: 750;
}
.hero-container{
    max-width: 144rem;
    margin: 0 auto;  
}
.hero-detail{
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap:21px;
}
.hero-detail h1{
font-size: 4.8rem;
font-weight: 700;
}
.hero-detail p{
    text-align: center;
font-size: 1.8rem;
font-weight: 600;
}
.hero-border-line{
    width: 100%;
    max-width: 868px;
    background: #00A551;
    height: 5px;
    margin-bottom: 5px;
}


/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    .hero-border-line{
    max-width: 668px;
    margin-bottom: 0;
}
}

@media screen and (max-width: 768px) {
  .hero-banner{
   width: 100%;
   height: 100%;
   min-height: 40vh;
   padding: 8px 2rem 5rem 2.3rem;
}

.working-hour p{
    padding: 0;
    font-size: 1.4rem;
    font-weight: 750;
}

.hero-detail{
    height: 50vh;
    min-height: 30vh;
    gap:15px;  
}

.hero-detail h1{
font-size: 4.8rem;
font-weight: 700;
margin-bottom: 10px;
}

.hero-detail p{
max-width: 330px;
font-size: 1.4rem;
font-weight: 600;
}

.hero-border-line{
    max-width: 356px;
    margin-bottom: 0;
}
}